{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}



    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Netflix - Watch TV Shows Online, Watch Movies Online</title>
        <link href="{{ asset('assets/css/connected.css') }}" rel="stylesheet">
        <link rel="icon" href="https://assets.nflxext.com/us/ffe/siteui/common/icons/nficon2016.ico">

    </head>


    <body>

    <div class="wrapper">

        <!-- HEADER -->
        <header>
            <div class="netflixLogo">
                <a id="logo" href="#home"><img src="https://github.com/carlosavilae/Netflix-Clone/blob/master/img/logo.PNG?raw=true" alt="Logo Image"></a>
            </div>
            <nav class="main-nav">
                <a href="/">Home</a>
                <a href="/show/category/serie">Series</a>
                <a href="/show/category/film">Films</a>
            </nav>
            <nav class="sub-nav">
              
                <a href="/stripe">Retirer la pub </a>

                <form action="" method="post"> <input placeholder="chercher par titre" name="search" id="search" type="text"></form>
            </nav>
        </header>
        <!-- END OF HEADER -->


        <!-- MAIN CONTAINER -->

        <section class="main-container" >
                <div class="location" id="home">
                    <h1 id="home">Mon Historique</h1>
                    <div class="box">
                        {% for historicals in historical %}
                                <a href="/player/video/{{historicals.video.token}}"><img  src="uploads/img/{{ historicals.video.image }}" alt="a video"></a>
                        {% endfor %}
                    </div>
                </div>
            </section>

        {% for categories in categorie %}
        <section class="main-container" >
                <div class="location" id="home">
                    <h1 id="home">{{ categories.name }}</h1>
                    <div class="box">
                        {% for series in serie %}
                            {% if categories.name == series.category.name  %}
                            <a href="/show/{{ series.serie.token}}"><img  src="uploads/img/{{ series.serie.image }}" alt=""></a>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </section>
            {% endfor %}


            <!-- END OF MAIN CONTAINER -->

            <!-- LINKS -->
            <section class="link">
                <div class="logos">
                    <a href="#"><i class="fab fa-facebook-square fa-2x logo"></i></a>
                    <a href="#"><i class="fab fa-instagram fa-2x logo"></i></a>
                    <a href="#"><i class="fab fa-twitter fa-2x logo"></i></a>
                    <a href="#"><i class="fab fa-youtube fa-2x logo"></i></a>
                </div>
                <div class="sub-links">
                    <ul>
                        <li><a href="#">Audio and Subtitles</a></li>
                        <li><a href="#">Audio Description</a></li>
                        <li><a href="#">Help Center</a></li>
                        <li><a href="#">Gift Cards</a></li>
                        <li><a href="#">Media Center</a></li>
                        <li><a href="#">Investor Relations</a></li>
                        <li><a href="#">Jobs</a></li>
                        <li><a href="#">Terms of Use</a></li>
                        <li><a href="#">Privacy</a></li>
                        <li><a href="#">Legal Notices</a></li>
                        <li><a href="#">Corporate Information</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>
                </div>
            </section>
            <!-- END OF LINKS -->

            <!-- FOOTER -->
            <footer>
                <p>&copy 1997-2018 Netflix, Inc.</p>
                <p>Carlos Avila &copy 2018</p>
            </footer>

        </div>
    </body>

{% endblock %}
