<link rel="stylesheet" href="style.css">
<script src="https://kit.fontawesome.com/da3a01af99.js" crossorigin="anonymous"></script>
<title>Netflix Clone</title>

<body>
<!-- Nav heading -->
<div class="fixed-div">
    <div class="parent-div">
        <img src="https://github.com/Chinemereem/Netflix-clone/blob/master/images/netflix%20logo.png?raw=true"
             alt="netflix img" class="logo">
        <div class="dropdown">
            <span class="browse-el">Browse</span>
            <div class="dropdown-content">
                <p>Home</p>
                <p>Serie</p>
                <p>Film</p>
                <p><a href="#list">My List</a></p>
            </div>
        </div>
    </div>
    <!-- notification nav -->

    <div class="user-img" style="float: right;">
        <form method="post"> <input type="text" placeholder="cherchez par titre">
        </form>
    </div>
</div>

<!-- image and logo -->
<div class="between-img-div">
    <img src="https://iphonesoft.fr/images/_062018/stranger-things.jpg"
         class="between-img" alt="">
</div>
<div class="logo-and-text">
    <div class="titleWrapper"
         style="transform-origin: left bottom; transform: scale(1) translate3d(0px, 0px, 0px); transition-duration: 1300ms; transition-delay: 0ms;">
        <div class="billboard-title">
            <img class="title-logo"
                 src="https://raw.githubusercontent.com/Chinemereem/Netflix-clone/master/images/netflixsvg.webp"
                 title="Between" alt="Between">
        </div>
    </div>
    <div class="info-wrapper"
         style="transform: translate3d(0px, 0px, 0px); transition-duration: 1300ms; transition-delay: 0ms; opacity: 1;">
        <div class="info-wrapper-fade" style="opacity: 1; transition-duration: 600ms; transition-delay: 200ms;">
            <div class="series-synopsis">After a mysterious disease kills every resident over 21 years old,<br> survivors of
                a town must fend for<br> themselves when the government quarantines them.</div>
        </div>
        <button class="color-primary" tabindex="-1" type="button">
            <div class="ltr-1ksxkn9">
                <div class="medium ltr-dguo2f" role="presentation">
                    <svg class="svg-radius" viewBox="0 0 24 24">
                        <path d="M6 4l15 8-15 8z" fill="currentColor"></path>
                    </svg>
                </div>
            </div>
            <div class="just-div" style="width:1rem"></div>
            <span class="info-btn">Play</span>
        </button></a>
        <button class="button-secondary" type="button">
            <div class="ltr">
                <div class="medium"><svg class="svg-radius" viewBox="0 0 24 24">
                        <path
                                d="M22 12c0 5.523-4.477 10-10 10S2 17.523 2 12 6.477 2 12 2s10 4.477 10 10zm-2 0a8 8 0 0 0-8-8 8 8 0 0 0-8 8 8 8 0 0 0 8 8 8 8 0 0 0 8-8zm-9 6v-7h2v7h-2zm1-8.75a1.21 1.21 0 0 1-.877-.364A1.188 1.188 0 0 1 10.75 8c0-.348.123-.644.372-.886.247-.242.54-.364.878-.364.337 0 .63.122.877.364.248.242.373.538.373.886s-.124.644-.373.886A1.21 1.21 0 0 1 12 9.25z"
                                fill="currentColor">
                        </path>
                    </svg></div>
            </div>
            <div class="more-info" style="width:1rem"></div>
            <span class="info-btn">More Info</span>
        </button>
    </div>
</div>
<section class="main-container" >
    <div class="location" id="home">
        <h1 id="home">Mon Historique</h1>
        <div class="box">
            {% for historicals in historical %}
                <a href="/player/video/{{historicals.video.token}}"><img  src="uploads/img/{{ historicals.video.image }}" alt="a video"></a>
            {% endfor %}
        </div>
    </div>
</section>

{% for categories in categorie %}
    <section class="main-container" >
        <div class="location" id="home">
            <h1 id="home">{{ categories.name }}</h1>
            <div class="box">
                {% for series in serie %}
                    {% if categories.name == series.category.name  %}
                        <a href="/show/{{ series.serie.token}}"><img  src="uploads/img/{{ series.serie.image }}" alt=""></a>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </section>
{% endfor %}


<!-- END OF MAIN CONTAINER -->

<!-- LINKS -->
<section class="link">
    <div class="logos">
        <a href="#"><i class="fab fa-facebook-square fa-2x logo"></i></a>
        <a href="#"><i class="fab fa-instagram fa-2x logo"></i></a>
        <a href="#"><i class="fab fa-twitter fa-2x logo"></i></a>
        <a href="#"><i class="fab fa-youtube fa-2x logo"></i></a>
    </div>
    <div class="sub-links">
        <ul>
            <li><a href="#">Audio and Subtitles</a></li>
            <li><a href="#">Audio Description</a></li>
            <li><a href="#">Help Center</a></li>
            <li><a href="#">Gift Cards</a></li>
            <li><a href="#">Media Center</a></li>
            <li><a href="#">Investor Relations</a></li>
            <li><a href="#">Jobs</a></li>
            <li><a href="#">Terms of Use</a></li>
            <li><a href="#">Privacy</a></li>
            <li><a href="#">Legal Notices</a></li>
            <li><a href="#">Corporate Information</a></li>
            <li><a href="#">Contact Us</a></li>
        </ul>
    </div>
</section>
<!-- END OF LINKS -->

<!-- FOOTER -->
<footer>
    <p>&copy 1997-2018 Netflix, Inc.</p>
    <p>Carlos Avila &copy 2018</p>
</footer>

</div>






</body>
<style>

    section{
        margin: 50px;
    }
    *{
        box-sizing: border-box;
        padding:0;


    }
    a{
        text-decoration:none;
        color: #BDBDBD;
    }
    html{
        height:160vh;

    }
    body{
        background-color: #141414;
        color: #BDBDBD;
        font-family:  Arial;
        overflow-x: hidden;
        height:160vh;

    }

    /* nav headiing */
    .fixed-div{
        background-color : rgba(0,0,0,0.73);
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 70px;
        z-index: 4;
    }
    .parent-div{
        height: 50px;
    }
    .logo{
        width: 90px;
        margin-left: 40px;
        margin-top: 10px;

    }
    /* dropdown content */
    .dropdown{
        position: relative;
        left: 100px;


    }
    .dropdown-content{
        display: flex;
        position: relative;
        top: -50px;
        left: 50px;


    }
    .dropdown-content p{
        margin: 25px 10px;

    }
    .dropdown p:hover{
        font-weight: bolder; color: white;
    }
    .browse-el{
        display: none;
    }

    .user-img{
        position: relative;
        top: -40px;
        left:6px;
    }
    .user-img img{
        border-radius: 5px;
    }


    .dropdown-content2 img{

        border-radius: 5px;
        margin-left: -10px;

    }
    .dropdown-img p{
        margin-top: -2px;
        margin-left: 10px;

    }
    .dropdown-content2 p {
        color: #ccc;


    }

    .dropdown-content2 p:hover {background-color: #222;width: 100%;}
    .dropdown2:hover .dropdown-content2 {display: block;}
    .dropdown2:hover .dropbtn {background-color: #ccc;}

    /* image and logo */
    .between-img-div{
        position: relative;
        top: 10px;
    }
    .logo-and-text{
        position: relative;
        margin-left: 40px;
        margin-top: 60px;
        top: -630px;

    }
    .between-img{
        height: 530px;
        width: 100%;

    }

    .series-synopsis{
        margin-top: 10px;

    }
    button{
        margin-top: 20px;

    }
    .svg-radius{
        width: 20px;
        display: flex;
        margin-top: 10px;
        margin-left: 10px;
    }
    .info-btn{
        margin-left: 20px;
        position: relative;
        top: -17px;
    }
    .color-primary{
        background-color:#FFFFFF ;
        border: none;
        width: 95px;
        height: 40px;
        border-radius: 3px;
    }
    .button-secondary{
        background-color: #4F4F4F;
        border: none;
        width: 110px;
        height: 40px;
        border-radius: 3px;
        margin-left: 10px;
    }

    .all-movie-div img{
        border-radius: 4px;
        margin-left: 5px;


    }

    .second-all-movie-div img{
        border-radius: 4px;
        margin-left: 6px;

    }

    .second-div-list img{
        border-radius: 4px;
        margin-left:10px
    }

    .netflix-all-movie-div img{
        border-radius: 4px;
        margin-left: 6px;
        height: 450px;

    }

    .quams-money img{
        position: relative;
        left: 15px;
        top: -50px;
    }

    .top2-film-nigerial img{
        position: relative;
        margin: -105px 0 0 195px;


    }

    /* media quries */
    @media (max-width: 768px) {
        .dropdown{
            margin-bottom: 30px;
            display: inline-block;
            text-align: center;
            cursor: pointer;


        }
        .browse-el{
            display: block;
            position:relative;
            top:  -10px;
            margin-left: -40px;
        }
        .dropdown-content{
            display: none;
            position: absolute;
            top: 20px;
            left: -135px;
            height: 300px;
            background-color: rgba(0, 0, 0, .5);
            min-width: 260px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            padding: 10px;
            z-index: 1;
            font-weight: lighter;
            border-top: 3px solid #E5E5E5;
            border-left: 1px solid #E5E5E5;
            border-right: 1px solid #E5E5E5;
            border-bottom: 1px solid #E5E5E5;

        }
        .dropdown-content::before{
            width: 0px;
            height: 0px;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-bottom: 15px solid #E5E5E5;
            position: absolute;
            left: 110px;
            top: -18px;
            content: "";
        }

        .dropdown:hover .dropdown-content {
            display: block;
        }
        .dropdown-content p:hover {
            background: #0D0D0D;
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 20px;
            padding-right: 20px;
            width: 100%;
            margin: 0;
        }

        .between-img{
            height: 410px;


        }
        .logo-and-text{
            top: -400px;
            width: auto;
            margin-top: 0px;
        }
        .title-logo{
            width: auto;
            height: 20vh;
        }
        .ratin-div{
            top: -465px;
        }

        .all-drama{
            top: -400px;
        }


    }

    @media (max-width: 400px) {
        body{
            font-size: small;
            width: 100%;
        }
        .logo{
            margin-left: 30px;


        }
        .dropdown2 {
            left:-50px;
        }

        .browse-el{
            margin-left: -120px;
        }
        .dropdown-content{
            left:  -190px;

        }
        .dropdown-content2 {
            min-width: 220px;

        }
        .float-op{
            left: -100px;

        }
        .user-img{
            left: 10px;
        }

        .sec-next{
            left: 230px;
            top: 25px;
        }
        .title-logo{
            margin-top: 20px;
        }
        .logo-and-text{
            margin-left: 20px
        }
        .grid-container {
            grid-template-columns: auto auto;

        }

    }






























    /* CSS VARIABLES */
    :root {
        --primary: #141414;
        --light: #F3F3F3;
        --dark: 	#686868;
    }

    html, body {
        width: 100vw;
        min-height: 100vh;
        margin: 0;
        padding: 0;
        background-color: var(--primary);
        color: var(--light);
        font-family: Arial, Helvetica, sans-serif;
        box-sizing: border-box;
        line-height: 1.4;
    }

    img {
        max-width: 100%;
    }

    h1 {
        padding-top: 60px;
    }

    .wrapper {
        margin: 0;
        padding: 0;
    }

    /* HEADER */
    header {
        padding: 20px 20px 0 20px;
        position: fixed;
        top: 0;
        display: grid;
        grid-gap:5px;
        grid-template-columns: 1fr 4fr 1fr;
        grid-template-areas:
   "nt mn mn sb . . . ";
        background-color: var(--primary);
        width: 100%;
        margin-bottom: 0px;
    }

    .netflixLogo {
        grid-area: nt;
        object-fit: cover;
        width: 100px;
        max-height: 100%;

        padding-left: 30px;
        padding-top: 0px;
    }

    .netflixLogo img {
        height: 35px;
    }

    #logo {
        color: #E50914;
        margin: 0;
        padding: 0;
    }


    .main-nav {
        grid-area: mn;
        padding: 0 30px 0 20px;
    }

    .main-nav a {
        color: var(--light);
        text-decoration: none;
        margin: 5px;
    }

    .main-nav a:hover {
        color: var(--dark);
    }

    .sub-nav {
        grid-area: sb;
        padding: 0 40px 0 40px;
    }

    .sub-nav a {
        color: var(--light);
        text-decoration: none;
        margin: 5px;
    }

    .sub-nav a:hover {
        color: var(--dark);
    }


    /* MAIN CONTIANER */
    .main-container {
        padding: 50px;
    }

    .box {
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(6, minmax(100px, 1fr));
    }

    .box a {
        transition: transform .3s;
    }

    .box a:hover {
        transition: transform .3s;
        -ms-transform: scale(1.4);
        -webkit-transform: scale(1.4);
        transform: scale(1.4);
    }

    .box img {
        border-radius: 2px;
    }

    /* LINKS */
    .link {
        padding: 50px;
    }

    .sub-links ul {
        list-style: none;
        padding: 0;
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(4, 1fr);
    }

    .sub-links a {
        color: var(--dark);
        text-decoration: none;
    }

    .sub-links a:hover {
        color: var(--dark);
        text-decoration: underline;
    }

    .logos a{
        padding: 10px;
    }

    .logo {
        color: var(--dark);
    }


    /* FOOTER */
    footer {
        padding: 20px;
        text-align: center;
        color: var(--dark);
        margin: 10px;
    }

    /* MEDIA QUERIES */

    @media(max-width: 900px) {

        header {
            display: grid;
            grid-gap: 20px;
            grid-template-columns: repeat(2, 1fr);
            grid-template-areas:
    "nt nt nt  .  .  . sb . . . "
    "mn mn mn mn mn mn  mn mn mn mn";
        }

        .box {
            display: grid;
            grid-gap: 20px;
            grid-template-columns: repeat(4, minmax(100px, 1fr));
        }

    }

    @media(max-width: 700px) {

        header {
            display: grid;
            grid-gap: 20px;
            grid-template-columns: repeat(2, 1fr);
            grid-template-areas:
    "nt nt nt  .  .  . sb . . . "
    "mn mn mn mn mn mn  mn mn mn mn";
        }

        .box {
            display: grid;
            grid-gap: 20px;
            grid-template-columns: repeat(3, minmax(100px, 1fr));
        }

        .sub-links ul {
            display: grid;
            grid-gap: 20px;
            grid-template-columns: repeat(3, 1fr);
        }

    }

    @media(max-width: 500px) {

        .wrapper {
            font-size: 15px;
        }

        header {
            margin: 0;
            padding: 20px 0 0 0;
            position: static;
            display: grid;
            grid-gap: 20px;
            grid-template-columns: repeat(1, 1fr);
            grid-template-areas:
    "nt"
    "mn"
    "sb";
            text-align: center;
        }

        .netflixLogo {
            max-width: 100%;
            margin: auto;
            padding-right: 20px;
        }

        .main-nav {
            display: grid;
            grid-gap: 0px;
            grid-template-columns: repeat(1, 1fr);
            text-align: center;
        }

        h1 {
            text-align: center;
            font-size: 18px;
        }



        .box {
            display: grid;
            grid-gap: 20px;
            grid-template-columns: repeat(1, 1fr);
            text-align: center;
        }

        .box a:hover {
            transition: transform .3s;
            -ms-transform: scale(1);
            -webkit-transform: scale(1);
            transform: scale(1.2);
        }

        .logos {
            display: grid;
            grid-gap: 20px;
            grid-template-columns: repeat(2, 1fr);
            text-align: center;
        }

        .sub-links ul {
            display: grid;
            grid-gap: 20px;
            grid-template-columns: repeat(1, 1fr);
            text-align: center;
            font-size: 15px;
        }





    }



</style>
